{% extends "tib_base.html" %}

{% block contents %}

{% block basicinfo %}
	Greetings, {{user.username}}<br>
<img src={% if user.get_profile.avatar %}"{{user_profile.avatar}}" {% else %} "http://b.vimeocdn.com/ps/346/445/3464459_300.jpg" {% endif %}>
<br>
You were bitten by {{user_profile.converted_by.username}}
<br>
You bit {{victims.count}} victims:
<ul>
	{% for victim in victims %}
		<li>
		{{victim.user.username}}
	</li>
	{% endfor %}
</ul>

<p>
The password to give your victims:<br>
<b>{{user_profile.conversion_password}}</b>
<p>

Keep chomping those poor girls/guys!

{% endblock %}

{% endblock %}