{% extends "tib_base.html" %}

{% block contents %}

HELLO THERE {{team_name}}

<form action="/checkpassword/" method="post">{% csrf_token %}
    <div class="form-group">
        <label for="id_password">Enter your password:</label>
        <input class="form-control" id="id_password" name="id_password" value="">
		<label for="id_username">Enter your alias:</label>
		<input class="form-control" id="id_username" name="id_username" value="">
		<input type="submit" value="Submit">
</form>

{% endblock %}